.container {
  width: 100%;
  justify-content: center;
  margin-top: 5px;
  display: flex;

  .menu {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(238, 238, 238);

    ul {
      margin-left: -32px;
    }

    .item {
      display: inline-flex;
      background-color: rgb(5, 2, 8);
      .link {
        display: block;
        background-color: rgb(5, 2, 8);
        color: white;
        text-align: center;
        padding: 16px;
        margin-right: 39px;
      }
    }
  }
  .caption {
    display: flex;
    .bonus {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      color: rgb(238, 238, 238);
      .item {
        display: inline-flex;
        .link {
          display: block;
          background-color: rgb(5, 2, 8);
          color: white;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        }
      }
    }
  }
}
